@model Library.UI.Models.ErrorViewModel
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is Error page</h2>

<p>You are here because:</p>
<p>@Model.Message</p>

